@page "/contact"

<SectionContent SectionName="page-name">
    <MudText>Contact</MudText>
</SectionContent>

<h2> Contact </h2>

<MudText>
    If there is something wrong with the website please contact me.
</MudText>

<MudText>
    Email: @EmailAddress
</MudText>
