@page "/login"

<SectionContent SectionName="page-name">
    <MudText>Login</MudText>
</SectionContent>

<div class="login-form-container d-flex">
    <MudContainer Class="d-flex flex-column align-items-center">

        <h2 class="mb-10"> Login </h2>

        <MudForm Class="col-sm-6 login-form" @ref="MudForm" Model="LoginModel">
            <PasswordInputComponent OnKeyUp="Enter" @bind-Value="LoginModel.Password" For="() => LoginModel.Password" />
        </MudForm>

        <MudSpacer></MudSpacer>

        <SubmitButton Class="mt-5"
                      Label="Authenticate" SubmittingLabel="Authenticating" IsSubmitting="IsAuthenticating"
                      StartIcon="@Icons.Material.Rounded.LockOpen"
                      EndIcon="@Icons.Material.Sharp.EditNote"
                      Size="Size.Large"
                      OnClick="Submit" />
    </MudContainer>
</div>

<MudContainer Class="d-flex flex-column align-items-center mt-10">
    @if (Error is not null)
    {
        <ErrorAlert Error="Error" class="col-sm-8"></ErrorAlert>
    }
</MudContainer>
